*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
header{
	width: 100%;
	height: 130px;
	padding: 15px;
	box-sizing: border-box;
	background-color: #fff;
}
header .con1{
	width: 1170px;
	height: 90px;
	margin: 5px auto;
}
header .con1 a{
	display: block;
	width: 151px;
	height: 90px;
	margin-right: 10px;
	float: left;
}
header .con1 h2{
	width: 120px;
	font-size: 20px;
	font-weight: 400;
	color: #666;
	margin-top: 9px;
	float: left;
}
header .con1 h2 span{
	font-size: 30px;
	font-weight: 700;
}
header .con2{
	height: 40px;
	margin-top: 25px;
	display: flex;
	float: right;
}
header .con2 .iconfont{
	font-size: 40px;
	position: relative;
}
header .con2 .iconfont::after{
	content: "";
	position: absolute;
	height: 40px;
	border: 1px solid #dcdcdc;
	margin-right: 10px;
	top: 0;
	right: -20px;
}
header .con2 p{
	margin-left: 20px;
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	font-weight: 400;
	color: #666;
	display: flex;
}
header .con2 p span{
	margin: 0 10px;
	font-size: 22px;
	font-weight: 400;
}
header .con2 p a{
	display: block;
	height: 40px;
	color: #ff001e;
}
.top{
	width: 100%;
	height: 565.391px;
	overflow: hidden;
}
.Title{
	width: 100%;
	height: 50px;
	background-color: #666;
}
.Title .title{
	width: 1170px;
	height: 50px;
	margin: 0 auto;
	display: flex;
}
.Title .title .cons{
	width: 146.25px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	position: relative;
}
.Title .title .cons:nth-of-type(4){
	background-color: #FF001E;
}
.Title .title .cons:hover{
	background-color: #FF001E;
}
.Title .title .cons .btns{
	width: 166.25px;
	height: 102px;
	position: absolute;
	top: -205px;
	right: -10px;
	background-color: #fff;
	z-index: 1;
}
.Title .title .cons .btns .iconfont{
	display: block;
	width: 100%;
	height: 8px;
	color: #ff0000;
	position: absolute;
	top: -27px;
}
.Title .title .cons .btns .font{
	display: block;
	width: 100%;
	height: 50px;
	color: #333;
	text-align: center;
	line-height: 50px;
	font-weight: 400;
	font-size: 16px;
}
.Title .title .cons .btns .font1{
	border-top: 2px solid #ff0000;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.Title .title .cons .btns1 .font:nth-of-type(3),.Title .title .cons .btns1 .font:nth-last-of-type(2){
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.Title .title .cons .btns .font:hover{
	background-color: #ff0000;
}
.Title .title .cons:hover .btns{
	top: 48px;
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
}
.Title .title .cons:nth-of-type(4) .btns{
	height: 202px;
}
.top .IMGbox{
	/* height: 220px; */
}
.top .IMGbox img{
	width: 100%;
}
.NAV{
	width: 100%;
	height: 50px;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}
.NAV .nav{
	width: 1170px;
	height: 50px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 400;
	display: flex;
}
.NAV .iconfont{
	width: 35px;
	font-size: 40px;
	line-height: 50px;
	margin-right: 15px;
	color: #666;
	font-weight: 100;
}
.NAV .nav p{
	font-size: 14px;
	font-weight: 400;
	height: 50px;
	line-height: 50px;
	color: rgb(102, 102, 102);
}
.NAV .nav p a{
	color: rgb(102, 102, 102);
}
.NAV .nav p a:hover{
	color: #ff001e;
}
.CON2{
	width: 1170px;
	margin: 50px auto;
	padding-bottom: 50px;
	overflow: hidden;
}
.CON2 h3{
	height: 78px;
	width: 153px;
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto 20px;
	font-size: 24px;
	font-weight: 400;
	color: #666;
	display: flex;
	flex-wrap: wrap;
}
.CON2 h3 b{
	width: 153px;
	text-align: center;
}
.CON2 h3 p{
	color: #333;
	font-size: 16px;
	margin-top: 5px;

}
.CON2 .liner{
	width: 100%;
	border-top: 1px solid #dcdcdc;
}
.CON2 .up{
	width: 1170px;
	height: 31px;
	margin-top: 30px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.CON2 .up .left{
	border-left: 5px solid #ff001e;
	padding-left: 10px;
}
.CON2 .up .left .font_left{
	font-size: 24px;
	font-weight: 700;
	color: #ff001e;
	line-height: 31px;
}
.CON2 .up .right{
	padding: 5px 10px;
	background-color: #ff001e;
}
.CON2 .up .right .font_right{
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}
.CON2 .up .right:hover{
	background-color: green;
}

.CON2 .boximg{
	width: 292.5px;
	padding: 0 15px;
	box-sizing: border-box;
	float: left;
}
.CON2 .boximg:nth-of-type(5){
	margin-bottom: 30px;
}
.CON2 .IMG{
	display: block;
	width: 260px;
	border: 1px solid #dcdcdc;
	margin: 10px auto;
	padding: 10px;
	box-sizing: border-box;
}
.CON2 .IMG p{
	margin: 10px auto;
	text-align: center;
	line-height: 15px;
	font-weight: 400;
	font-size: 14px;
	color: #333;
}
.CON2 .IMG:hover p{
	color: #ff001e;
}
.CON4{
	width: 100%;
	height: auto;
	margin: 50px 0;
}
.CON4 h3{
	height: 78px;
	width: 114.58px;
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto 20px;
	font-size: 24px;
	font-weight: 400;
	color: #666;
	display: flex;
	flex-wrap: wrap;
}
.CON4 h3 b{
	width: 171px;
	text-align: center;
}
.CON4 h3 p{
	color: #333;
	font-size: 16px;
	margin-top: 5px;

}
.CON4 .liner{
	width: 100%;
	border-top: 1px solid #dcdcdc;
}
.CON4 .Imgs{
	width: 1220px;
	height: 206.88px;
	margin: 30px auto;
	overflow-x: auto;
}
.CON4 .Imgs .boxs{
	width: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.CON4 .Imgs::-webkit-scrollbar{
	height: 0;
}
.CON4 .Imgs .imgbox{
	width: 285px;
	height: 100%;
	flex-shrink: 0;
	margin: 0 10px;
}
.CON4 .Imgs .imgbox a{
	display: block;
	width: 285px;
	color: #666;
}
.CON4 .Imgs .imgbox a p{
	margin-top: 10px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
}
.CON4 .Imgs .imgbox a:hover{
	color: red;
}

footer{
	width: 100%;
	height: auto;
	background-color: #252525;
}
footer .top{
	width: 1200px;
	height: 174px;
	padding: 40px 0;
	margin: 0 auto;
}
footer .top .box1{
	width: 170px;
	height: 87px;
	padding: 0 15px;
	float: left;
}
footer .top .box h3{
	width: 170px;
	height: 24px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: rgb(204, 204, 204);
}
footer .top .box p{
	width: 170px;
	height: 19px;
	margin-bottom: 5px;
	line-height: 19px;
	font-size: 14px;
}
footer .top .box p a{
	color: rgb(102, 102, 102);
}
footer .top .box p a:hover{
	color: rgb(204, 204, 204);
}
footer .top .box2{
	width: 270px;
	height: 174px;
	padding: 0 15px;
	float: left;
}
footer .top .box2 img{
	margin: 0 auto;
}
footer .top .box2 p{
	width: 270px;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: rgb(204, 204, 204);
}
footer .top .box2 p b{
	font-size: 22px;
	font-weight: 400;
	line-height: 35.2px;
	color: #fff;
}
footer .bottom{
	width: 1170px;
	height: 48px;
	padding: 20px;
	border-top: 1px solid #000;
	margin: 0 auto;
}
footer .bottom .nth{
	width: 100%;
	height: 29px;
}
footer .bottom .nth .btn{
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 14px;
	color: rgb(102, 102, 102);
	float: left;
}
footer .bottom p{
	width: 100%;
	height: 19px;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: rgb(102, 102, 102);
}
nav{
	width: 50px;
	height: 180px;
	position: fixed;
	right: 20px;
	bottom: 0;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
}
nav a{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	flex-shrink: 0;
	text-align: center;
	background-color: #474747;
	transition: all 0.2s;
}
nav a .iconfont{
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 25px;
	color: #fff;
}
nav a:hover{
	background-color: #ff001e;
}
nav a .icon-qq{
	font-size: 25px;
}
nav a .icon-shang1{
	font-size: 10px;
}