*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
header{
	width: 100%;
	height: 130px;
	padding: 15px;
	box-sizing: border-box;
	background-color: #fff;
}
header .con1{
	width: 1170px;
	height: 90px;
	margin: 5px auto;
}
header .con1 a{
	display: block;
	width: 151px;
	height: 90px;
	margin-right: 10px;
	float: left;
}
header .con1 h2{
	width: 120px;
	font-size: 20px;
	font-weight: 400;
	color: #666;
	margin-top: 9px;
	float: left;
}
header .con1 h2 span{
	font-size: 30px;
	font-weight: 700;
}
header .con2{
	height: 40px;
	margin-top: 25px;
	display: flex;
	float: right;
}
header .con2 .iconfont{
	font-size: 40px;
	position: relative;
}
header .con2 .iconfont::after{
	content: "";
	position: absolute;
	height: 40px;
	border: 1px solid #dcdcdc;
	margin-right: 10px;
	top: 0;
	right: -20px;
}
header .con2 p{
	margin-left: 20px;
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	font-weight: 400;
	color: #666;
	display: flex;
}
header .con2 p span{
	margin: 0 10px;
	font-size: 22px;
	font-weight: 400;
}
header .con2 p a{
	display: block;
	height: 40px;
	color: #ff001e;
}
.top{
	width: 100%;
	height: 565.391px;
	overflow: hidden;
}
.Title{
	width: 100%;
	height: 50px;
	background-color: #666;
}
.Title .title{
	width: 1170px;
	height: 50px;
	margin: 0 auto;
	display: flex;
}
.Title .title .cons{
	width: 146.25px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	position: relative;
}
.Title .title .cons:first-child{
	background-color: #FF001E;
}
.Title .title .cons:hover{
	background-color: #FF001E;
}
.Title .title .cons .btns{
	width: 166.25px;
	height: 102px;
	position: absolute;
	top: -205px;
	right: -10px;
	background-color: #fff;
	z-index: 1;
}
.Title .title .cons .btns .iconfont{
	display: block;
	width: 100%;
	height: 8px;
	color: #ff0000;
	position: absolute;
	top: -27px;
}
.Title .title .cons .btns .font{
	display: block;
	width: 100%;
	height: 50px;
	color: #333;
	text-align: center;
	line-height: 50px;
	font-weight: 400;
	font-size: 16px;
}
.Title .title .cons .btns .font1{
	border-top: 2px solid #ff0000;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.Title .title .cons .btns1 .font:nth-of-type(3),.Title .title .cons .btns1 .font:nth-last-of-type(2){
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.Title .title .cons .btns .font:hover{
	background-color: #ff0000;
}
.Title .title .cons:hover .btns{
	top: 48px;
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
}
.Title .title .cons:nth-of-type(4) .btns{
	height: 202px;
}
.ImgBox{
	width: 100%;
	height: 515.391px;
	position: relative;
}
.ImgBox img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.ImgBox .iconfont{
	color: rgba(255, 255, 255, 0.7);
	z-index: 20;
}
.ImgBox .icon-left-copy{
	font-size: 36px;
	font-weight: 400;
	position: absolute;
	left: 10px;
	top: 245px;
}
.ImgBox .icon-you{
	font-size: 36px;
	font-weight: 400;
	position: absolute;
	right: 10px;
	top: 245px;
}
.ImgBox .iconfont:hover{
	cursor: pointer;
}
.ImgBox .btn{
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 10px;
	text-align: center;
	z-index: 20;
}
.ImgBox .btn .iconfont{
	width: 10px;
	height: 10px;
	font-size: 20px;
	margin: auto 3px;
	color: rgba(0, 0, 0, 0.3);
}
.ImgBox .btn .hot{
	color: blue;
}
.CON1{
	width: 1168px;
	height: 284px;
	border: 1px solid #ccc;
	padding-bottom: 15px;
	margin: 50px auto 0;
}
.CON1 img{
	padding: 15px;
	float: left;
}
.CON1 p{
	display: block;
	width: 748px;
	height: 172px;
	margin: 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #666;
	float: left;
}
.CON1 p b{
	font-weight: 700;
	font-size: 18px;
	color: red;
	float: left;
}
.CON1 p:nth-last-child(1){
	margin-top: 0;
	line-height: 25px;
}
.CON2{
	width: 1170px;
	height: 591px;
	margin: 50px auto;
	padding-bottom: 50px;
}
.CON2 h3{
	height: 78px;
	width: 153px;
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto 20px;
	font-size: 24px;
	font-weight: 400;
	color: #666;
	display: flex;
	flex-wrap: wrap;
}
.CON2 h3 b{
	width: 153px;
	text-align: center;
}
.CON2 h3 p{
	color: #333;
	font-size: 16px;
	margin-top: 5px;

}
.CON2 .liner{
	width: 100%;
	border-top: 1px solid #dcdcdc;
}
.CON2 .cons{
	width: 100%;
	height: 462px;
	margin-top: 30px;
}
.CON2 .cons .left{
	width: 270px;
	height: 455px;
	padding-top: 3.5px;
	float: left;
}
.CON2 .cons .left h2{
	width: 270px;
	height: 53px;
	margin-bottom: 0;
	line-height: 53px;
	font-weight: 400;
	font-size: 24px;
	background-color: #ff001e;
	color: #fff;
	text-align: center;
}
.CON2 .cons .left .fonts{
	display: block;
	width: 100%;
	height: 46px;
	border-bottom: 1px solid #dcdcdc;
	background-color: #eee;
	padding: 0 11px;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 700; 
	color: #666;
	line-height: 46px;
}
.CON2 .cons .left .fonts:hover{
	color: #ff001e;
}
.CON2 .cons .left h4{
	width: 100%;
	height: 73px;
	background-color: #ff001e;
	text-align: center;
	padding: 11px 0;
	box-sizing: border-box;
}
.CON2 .cons .left h4 a{
	display: block;
	color: #fff;
	font-weight: 400;
	font-size: 24px;
}
.CON2 .cons .left h4 b{
	margin-top: 4px;
	font-weight: 400;
	font-size: 12px;
	color: #dcdcdc;
}
.CON2 .cons .right{
	width: 870px;
	height: 462px;
	float: right;
	position: relative;
	overflow-x: auto;
}
.CON2 .cons .right .bigbox{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.CON2 .cons .right::-webkit-scrollbar{
	height: 0;
}
.CON2 .cons .right .IMG{
	display: block;
	width: 425px;
	height: 462px;
	flex-shrink: 0;
	margin-right: 20px;
}
.CON2 .cons .right .after{
	text-align: center;
	width: 870px;
	height: 40px;
	padding: 8px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);;
	z-index: 100;
}
.CON2 .cons .right .iconfont{
	color: rgba(0, 0, 0, 0.07);
}
.CON2 .cons .right .icon-left-copy{
	font-size: 25px;
	font-weight: 400;
	position: absolute;
	left: 10px;
	top: 231px;
}
.CON2 .cons .right .icon-you{
	font-size: 25px;
	font-weight: 400;
	position: absolute;
	right: 10px;
	top: 231px;
}
.CON2 .cons .right .iconfont:hover{
	cursor: pointer;
}

.CON2 .cons .right .after .iconfont{
	width: 10px;
	height: 10px;
	font-size: 20px;
	margin: 0 3px;
	color: rgba(0, 0, 0, 0.3);
}
.CON2 .cons .right .after .iconfont:hover{
	color: blue;
}
.CON3{
	width: 100%;
	height: auto;
	margin: 50px 0;
	padding: 50px 0;
	background-color: #EEEDED;
}
.CON3 h3{
	height: 78px;
	width: 171px;
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto 20px;
	font-size: 24px;
	font-weight: 400;
	color: #666;
	display: flex;
	flex-wrap: wrap;
}
.CON3 h3 b{
	width: 171px;
	text-align: center;
}
.CON3 h3 p{
	color: #333;
	font-size: 16px;
	margin-top: 5px;

}
.CON3 .liner{
	width: 100%;
	border-top: 1px solid #dcdcdc;
}
.CON3 .cons{
	width: 1110px;
	padding: 30px;
	background-color: #fff;
	margin: 30px auto;
}
.CON3 .cons .item{
	width: 1110px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}
.CON3 .cons .item .left{
	width: 525px;
	height: 266px;
	padding: 0 15px;
}
.CON3 .cons .item .left h2{
	margin: 30px 0;
	font-weight: 700;
	font-size: 28px;
	color: #666;
}
.CON3 .cons .item .left p{
	font-weight: 400;
	font-size: 14px;
	line-height: 22.4px;
	color: #a4a1a2;
}
.CON3 .cons .item a{
	display: block;
	padding: 20px;
}
.CON4{
	width: 100%;
	height: auto;
	margin: 50px 0;
}
.CON4 h3{
	height: 78px;
	width: 114.58px;
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto 20px;
	font-size: 24px;
	font-weight: 400;
	color: #666;
	display: flex;
	flex-wrap: wrap;
}
.CON4 h3 b{
	width: 171px;
	text-align: center;
}
.CON4 h3 p{
	color: #333;
	font-size: 16px;
	margin-top: 5px;

}
.CON4 .liner{
	width: 100%;
	border-top: 1px solid #dcdcdc;
}
.CON4 .Imgs{
	width: 1220px;
	height: 206.88px;
	margin: 30px auto;
	overflow-x: auto;
}
.CON4 .Imgs .boxs{
	width: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.CON4 .Imgs::-webkit-scrollbar{
	height: 0;
}
.CON4 .Imgs .imgbox{
	width: 285px;
	height: 100%;
	flex-shrink: 0;
	margin: 0 10px;
}
.CON4 .Imgs .imgbox a{
	display: block;
	width: 285px;
	color: #666;
}
.CON4 .Imgs .imgbox a p{
	margin-top: 10px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
}
.CON4 .Imgs .imgbox a:hover{
	color: red;
}
.CON5{
	width: 100%;
	height: auto;
	margin: 50px 0;
}
.CON5 h3{
	height: 78px;
	width: 96px;
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 24px;
	font-weight: 400;
	color: #666;
	display: flex;
	flex-wrap: wrap;
}
.CON5 h3 b{
	width: 171px;
	text-align: center;
}
.CON5 .liner{
	width: 100%;
	border-top: 1px solid #dcdcdc;
}
.CON5 .con{
	width: 1170px;
	height: 550px;
	margin: 30px auto;
	display: FLEX;
}
.CON5 .con .left{
	width: 570px;
	height: 550px;
	margin-right: 30px;
}
.CON5 .con .right{
	width: 570px;
	height: 550px;
}
.CON5 .con .left .title,.CON5 .con .right .title{
	display: block;
	height: 26px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dcdcdc;
	font-weight: 400;
	font-size: 20px;
	color: #666;
}
.CON5 .con .left .title:hover,.CON5 .con .right .title:hover{
	color: red;
}
.CON5 .con .left .imgbox{
	width: 570px;
	height: 300px;
}
.CON5 .con .left .font1{
	width: 100%;
	height: 73px;
	margin: 10px 0 20px;
}
.CON5 .con .left .font1 a{
	display: block;
	height: 21px;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
	color: #666;
}
.CON5 .con .left .font1 a:hover{
	color: red;
}
.CON5 .con .left .font1 p{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #666;
}
.CON5 .con .left .list{
	height: 20px;
	width: 100%;
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #666;
}
.CON5 .con .left .list a{
	padding-left: 10px;
	color: #666;
}
.CON5 .con .left .list i{
	width: 5px;
}
.CON5 .con .left .list span{
	float: right;
}
.CON5 .con .left .list a:hover{
	color: red;
}
.CON5 .con .right .top{
	width: 530px;
	height: 68px;
	padding: 20px;
	margin-bottom: 10px;
	background-color: #EEEDED;
}
.CON5 .con .right .top h2{
	font-weight: 400;
	font-size: 24px;
	height: 46px;
	width: auto;
}
.CON5 .con .right .top .fon{
	color: #666;
}
.CON5 .con .right .top h2 .fon:hover{
	color: red;
}
.CON5 .con .right .top p{
	color: #666;
}
.CON5 .con .right .cons{
	width: 570px;
	height: 76px;
	margin-bottom: 10px;
}
.CON5 .con .right .cons .time{
	width: 49px;
	height: 54px;
	padding: 10px;
	margin-right: 20px;
	border: 1px solid #dcdcdc;
	font-size: 35px;
	font-weight: 700;
	line-height: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	color: #aaa;
	float: left;

}
.CON5 .con .right .cons .time span{
	line-height: 14px;
	font-size: 14px;
	font-weight: 400;
}
.CON5 .con .right .cons h4{
	height: 21px;
	line-height: 21px;
	margin-bottom: 10px;
}
.CON5 .con .right .cons h4 .Font{
	color: #666;
}
.CON5 .con .right .cons h4 .Font:hover{
	color: red;
}
.CON5 .con .right .cons p{
	height: 44px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #666;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
}
.CON6{
	width: 100%;
	height: auto;
	margin: 50px 0;
	padding: 50px 0;
	background-color: #EEEDED;
}
.CON6 h3{
	height: 78px;
	width: 576px;
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 24px;
	font-weight: 400;
	color: #666;
	display: flex;
	flex-wrap: wrap;
}
.CON6 h3 b{
	width: 576px;
	text-align: center;
}
.CON6 .liner{
	width: 100%;
	border-top: 1px solid #dcdcdc;
}
.CON6 main{
	width: 1170px;
	height: 444px;
	padding: 30px;
	margin: 30px auto 0;
	box-sizing: border-box;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}
.CON6 main .con{
	width: 730px;
	height: 384px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28.8px;
	color: #666;
}
.CON6 main .con p{
	width: 690px;
	height: 36px;
	margin: 20px;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-align: right;
}
.CON7{
	width: 100%;
	height: auto;
	margin: 50px 0;
}
.CON7 h3{
	height: 78px;
	width: 188.22px;
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto 20px;
	font-size: 24px;
	font-weight: 400;
	color: #666;
	display: flex;
	flex-wrap: wrap;
}
.CON7 h3 b{
	width: 188.22px;
	text-align: center;
}
.CON7 h3 p{
	color: #666;
	font-size: 16px;
	margin-top: 5px;

}
.CON7 .liner{
	width: 100%;
	border-top: 1px solid #dcdcdc;
}
.CON7 .imgBOX{
	width: 1200px;
	height: 179px;
	margin: 30px auto;
	overflow-x: auto;
	position: relative;
}
.CON7 .imgBOX::-webkit-scrollbar{
	height: 0;
}
.CON7 .imgBOX .cons{
	width: auto;
	height: 140px;
	display: flex;
}
.CON7 .imgBOX .cons .con{
	flex-shrink: 0;
	width: 125px;
	height: 140px;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.CON7 .imgBOX .cons .con span{
	display: block;
	width: 85px;
	height: 23px;
	background-color: #000;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	font-size: 14px;
	line-height: 23px;
	position: absolute;
	bottom: -23px;
	left: 20px;
}
.CON7 .imgBOX .cons .con:hover span{
	bottom: 0;
}
.CON7 .imgBOX .after{
	text-align: center;
	width: 1200px;
	height: 19px;
	padding-top: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
}
.CON7 .imgBOX .after .iconfont{
	width: 10px;
	height: 10px;
	line-height: 19px;
	font-size: 20px;
	margin: 0 3px;
	color: rgba(0, 0, 0, 0.3);
	transition: all 0.2s;
}
.CON7 .imgBOX .after .iconfont:hover{
	color: rgba(0, 0, 0, 0.6);
}
footer{
	width: 100%;
	height: auto;
	background-color: #252525;
}
footer .top{
	width: 1200px;
	height: 174px;
	padding: 40px 0;
	margin: 0 auto;
}
footer .top .box1{
	width: 170px;
	height: 87px;
	padding: 0 15px;
	float: left;
}
footer .top .box h3{
	width: 170px;
	height: 24px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: rgb(204, 204, 204);
}
footer .top .box p{
	width: 170px;
	height: 19px;
	margin-bottom: 5px;
	line-height: 19px;
	font-size: 14px;
}
footer .top .box p a{
	color: rgb(102, 102, 102);
}
footer .top .box p a:hover{
	color: rgb(204, 204, 204);
}
footer .top .box2{
	width: 270px;
	height: 174px;
	padding: 0 15px;
	float: left;
}
footer .top .box2 img{
	margin: 0 auto;
}
footer .top .box2 p{
	width: 270px;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: rgb(204, 204, 204);
}
footer .top .box2 p b{
	font-size: 22px;
	font-weight: 400;
	line-height: 35.2px;
	color: #fff;
}
footer .bottom{
	width: 1170px;
	height: 48px;
	padding: 20px;
	border-top: 1px solid #000;
	margin: 0 auto;
}
footer .bottom .nth{
	width: 100%;
	height: 29px;
}
footer .bottom .nth .btn{
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 14px;
	color: rgb(102, 102, 102);
	float: left;
}
footer .bottom p{
	width: 100%;
	height: 19px;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: rgb(102, 102, 102);
}
nav{
	width: 50px;
	height: 180px;
	position: fixed;
	right: 20px;
	bottom: 0;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
}
nav a{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	flex-shrink: 0;
	text-align: center;
	background-color: #474747;
	transition: all 0.2s;
}
nav a .iconfont{
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 25px;
	color: #fff;
}
nav a:hover{
	background-color: #ff001e;
}
nav a .icon-qq{
	font-size: 25px;
}
nav a .icon-shang1{
	font-size: 10px;
}